.card {
    background-size: cover !important;
    background-position: center;
    width: 139px;
    height: 269px;
    margin-right: 10px;
}

#playArea .card {
    height: 140px !important;
    width: 72px !important;
}

.card-selected {
    border: 5px solid #000 !important;
}

.card-contaminação {
    background-image: url('../cards/1.jpg');
    /* background-image: url(../cards/2.jpg); */
    /* background-image: url(../cards/3.jpg); */
    /* background-image: url(../cards/4.jpg); */
}

.card-prevenção {
    background-image: url('../cards/5.jpg');
    /* background-image: url(../cards/6.jpg); */
    /* background-image: url(../cards/7.jpg); */
    /* background-image: url(../cards/8.jpg); */
    /* background-image: url(../cards/9.jpg); */
    /* background-image: url(../cards/10.jpg); */
}

.card-cancelamento {
    background-image: url('../cards/11.jpg');
}

.card-ataque {
    background-image: url('../cards/12.jpg');
}

.card-pular {
    background-image: url('../cards/13.jpg');
}

.card-favor {
    background-image: url('../cards/14.jpg');
}

.card-embaralhar {
    background-image: url('../cards/15.jpg');
}

.card-prever {
    background-image: url('../cards/16.jpg');
}

.image-lenços-umidecidos {
    background-image: url('../cards/17.jpg');
}

.image-alcool {
    background-image: url('../cards/18.jpg');
}

.image-mascara {
    background-image: url('../cards/19.jpg');
}

.image-lenços-papel {
    background-image: url('../cards/20.jpg');
}

.image-agua {
    background-image: url('../cards/21.jpg');
}

/* Tooltip text */

.card .tooltiptext {
    visibility: hidden;
    width: 20rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.card:hover .tooltiptext {
    visibility: visible;
}

.card .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}