.card {
    background-size: cover !important;
    background-position: center;
    width: 139px;
    height: 269px;
    margin-right: 10px;
}

#playArea .card {
    height: 140px !important;
    width: 72px !important;
}

.card-selected {
    border: 5px solid #000 !important;
}

.card-1 {
    background-image: url('../cards/1.jpg');
}

.card-2 {
    background-image: url('../cards/2.jpg');
}

.card-3 {
    background-image: url('../cards/3.jpg');
}

.card-4 {
    background-image: url('../cards/4.jpg');
}

.card-5 {
    background-image: url('../cards/5.jpg');
}

.card-6 {
    background-image: url('../cards/6.jpg');
}

.card-7 {
    background-image: url('../cards/7.jpg');
}

.card-8 {
    background-image: url('../cards/8.jpg');
}

.card-9 {
    background-image: url('../cards/9.jpg');
}

.card-10 {
    background-image: url('../cards/10.jpg');
}

.card-cancelamento {
    background-image: url('../cards/11.jpg');
}

.card-ataque {
    background-image: url('../cards/12.jpg');
}

.card-pular {
    background-image: url('../cards/13.jpg');
}

.card-favor {
    background-image: url('../cards/14.jpg');
}

.card-embaralhar {
    background-image: url('../cards/15.jpg');
}

.card-prever {
    background-image: url('../cards/16.jpg');
}

.image-lenços-umidecidos {
    background-image: url('../cards/17.jpg');
}

.image-alcool {
    background-image: url('../cards/18.jpg');
}

.image-mascara {
    background-image: url('../cards/19.jpg');
}

.image-lenços-papel {
    background-image: url('../cards/20.jpg');
}

.image-agua {
    background-image: url('../cards/21.jpg');
}

/* Tooltip text */

.card .tooltiptext {
    visibility: hidden;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    bottom: 25rem;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.card:hover .tooltiptext {
    visibility: visible;
}