.card {
    background-size: cover !important;
    background-position: center;
    display: inline-flex;
    width: 139px;
    height: 269px;
    margin-right: 10px;
}

#playArea .card {
    height: 140px !important;
    width: 72px !important;
}

.card-selected {
    border: 5px solid #000 !important;
}

.card-1 {
    background-image: url('../cards/1.jpg');
}

.card-2 {
    background-image: url('../cards/2.jpg');
}

.card-3 {
    background-image: url('../cards/3.jpg');
}

.card-4 {
    background-image: url('../cards/4.jpg');
}

.card-5 {
    background-image: url('../cards/5.jpg');
}

.card-6 {
    background-image: url('../cards/6.jpg');
}

.card-7 {
    background-image: url('../cards/7.jpg');
}

.card-8 {
    background-image: url('../cards/8.jpg');
}

.card-9 {
    background-image: url('../cards/9.jpg');
}

.card-10 {
    background-image: url('../cards/10.jpg');
}

.card-11 {
    background-image: url('../cards/11.jpg');
}

.card-12 {
    background-image: url('../cards/12.jpg');
}

.card-13 {
    background-image: url('../cards/13.jpg');
}

.card-14 {
    background-image: url('../cards/14.jpg');
}

.card-15 {
    background-image: url('../cards/15.jpg');
}

.card-15 {
    background-image: url('../cards/15.jpg');
}

.card-16 {
    background-image: url('../cards/16.jpg');
}

.card-17 {
    background-image: url('../cards/17.jpg');
}

.card-18 {
    background-image: url('../cards/18.jpg');
}

.card-19 {
    background-image: url('../cards/19.jpg');
}

.card-20 {
    background-image: url('../cards/20.jpg');
}

.card-21 {
    background-image: url('../cards/21.jpg');
}

.card-22 {
    background-image: url('../cards/22.jpg');
}

.card-23 {
    background-image: url('../cards/23.jpg');
}

.card-24 {
    background-image: url('../cards/24.jpg');
}

.card-25 {
    background-image: url('../cards/25.jpg');
}

.card-cancelamento {
    background-image: url('../cards/11.jpg');
}

.card-ataque {
    background-image: url('../cards/12.jpg');
}

.card-pular {
    background-image: url('../cards/13.jpg');
}

.card-favor {
    background-image: url('../cards/14.jpg');
}

.card-embaralhar {
    background-image: url('../cards/15.jpg');
}

.card-prever {
    background-image: url('../cards/16.jpg');
}

.image-lenços-umidecidos {
    background-image: url('../cards/17.jpg');
}

.image-alcool {
    background-image: url('../cards/18.jpg');
}

.image-mascara {
    background-image: url('../cards/19.jpg');
}

.image-lenços-papel {
    background-image: url('../cards/20.jpg');
}

.image-agua {
    background-image: url('../cards/21.jpg');
}

.card-contamine {
    display: none;
}

/* Tooltip text */

.card .tooltiptext {
    visibility: hidden;
    width: 20rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: fixed;
    position: absolute;
    z-index: 1;
    white-space: normal;
}

/* Show the tooltip text when you mouse over the tooltip container */

.card:hover .tooltiptext {
    visibility: visible;
}